/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Impostazioni globali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%; /* Imposta la larghezza del body al 100% */
}

/*sezione per ruotare lo sfondo*/
body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-image: url("/Immagini/Immagini-sfondo/dodlees-wallpaper.png"); /* Usa la stessa immagine di sfondo */
    background-repeat: repeat; /* Ripeti l'immagine */
    transform: rotate(-17deg) scale(0.8); /* Ruota l'immagine di 20 gradi e rendila del 80% delle dimensioni originali */
}

header, nav, main, footer {
    width: 100%;
}


body {
  overflow-x: hidden;
  overflow-x: clip !important;
}



/* Header */
header {
    background-color: #1A4D2E;
    padding: 20px;
    color: #E8DFCA;
    border-bottom: #E8DFCA 1px solid;
}

/* Menu di navigazione */
.nav-item-box {
  background-color: #4F6F52; /* Colore crema */
  padding: 8px; /* Padding per spaziatura interna */
  border-radius: 5px; /* Arrotondamento dei bordi */
  display: inline-block; /* Imposta il display su inline-block */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #E8DFCA;
}


nav ul li a:hover {
  text-decoration: underline;
  color: #FFFFFF;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Aumenta il blur dell'ombra */
}





/* Breadcrumbs */
#breadcrumbs {
    font-size: 14px;
    color: #444; /* Colore del testo */
    margin-top: 30px; /* Aumenta lo spazio sopra le breadcrumbs */
    padding: 5px; /* Aggiungi spazio intorno alle breadcrumbs */
    background-color: #E8DFCA; /* Colore di sfondo */
    border-radius: 25px; /* Arrotonda i bordi */
    display: inline-block; /* Cambia il display da block a inline-block */
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
}

#breadcrumbs a {
    color: black; /* Colore dei link */
    text-decoration: none;
}

#breadcrumbs a:hover {
    text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}




/* Language selector */
#italianFlag, #ukFlag {
    width: 34px;
    margin-top: 5px;
}

#languageSelector {
    display: flex;
    align-items: center;
    float: right;
    margin-top: -15px;
    padding-right: 30px;
  }
  
  .language-option {
    margin: 0 5px;
  }
  
  /* Stile per lo switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8DFCA;
    -webkit-transition: .1s;
    transition: .1s;
    border-radius: 34px;
    border: 2px solid #000000; /* Aggiungi un bordo nero */

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: rgb(175, 148, 107);
    -webkit-transition: .1s;
    transition: .1s;
    border-radius: 50%;
    border: 1px solid #000000; /* Aggiungi un bordo nero */
  }

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}





/* Main content */
main {
    background-color: #4F6F52;
    padding: 20px;
    color: #F5EFE6;
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
}

h1 {
    font-size: 30px;
}




/* Paragraphs */
.paragraph-section {
  display: flex;
  flex-direction: column;
  color: #E8DFCA;
}

.left-align {
  justify-content: flex-start; /* Allinea i paragrafi a sinistra */
  padding-right: 20px; /* Aggiungi spazio a destra per allineare con il padding */
  margin-left: 1%;
}

.right-align {
  justify-content: flex-end; /* Allinea i paragrafi a destra */
  padding-left: 20px; /* Aggiungi spazio a sinistra per allineare con il padding */
  margin-left: 14.7%;
}

.paragraph {
  display: flex;
  align-items: center;
  background-color: #1a4d2e;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px 20px;
  width: 80%;
  overflow: hidden;
  border-color: #000000;
  border: 3px solid black;
  box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
}

.paragraph img {
  max-width: 200px;
  margin-right: 20px;
  border: #000000 3px solid;
  box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
}

.left-image {
  order: -1;
}

.right-image {
  order: 1;
}

.left-title {
  order: -1;
  padding-right: 10px;
  padding-bottom: 104px;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

.left-title-material {
  padding-top: 25px;
}

.right-title {
  order: 2;
  padding-bottom: 104px;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}






/* Footer */
footer {
    /*colori footer*/
    background-color: #1A4D2E;
    padding: 20px;
    color: #E8DFCA;

    /*posizione footer*/
    clear: both;
    width: 100%;

    /*scritte footer*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Allinea i contenuti in alto */
    padding: 20px;
}

#contatti {
    flex: 1; /* Il contenuto del footer a sinistra */
    border-right: #E8DFCA 1px solid;
  }

#termini-servizi {
    flex: 1; /* Il contenuto del footer a destra */
    text-align: left;
    padding-left: 90px;
    padding-right: 30px;
}

/* Link email, telefono e ringraziamenti */
#emailLink,
#phoneLink,
#githubLink,
#Ringraziamenti,
#link-termini-servizi {
    color: #E8DFCA; /* Colore testo */
    text-decoration: none; /* Rimuovi sottolineatura predefinita */
    margin-top: 10px; /* Aggiungi spazio sopra */
}

/* Aggiungi effetto hover */
#emailLink:hover,
#phoneLink:hover,
#githubLink:hover,
#Ringraziamenti:hover,
#link-termini-servizi:hover {
    color: #FFFFFF; /* Cambia il colore del testo al passaggio del mouse */
    text-decoration: underline; /* Aggiungi sottolineatura al passaggio del mouse */
    cursor: pointer; /* Cambia il cursore in una mano quando si passa sopra il testo */
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#Ringraziamenti {
    text-align: left;
    padding-top: 4px;   
}
