/* MAIN CONTENT */
#content-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}





/* INTRO */
#content-page-subject-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4F6F52;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
}

#content-page-subject-intro-title {
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: #E8DFCA;
    margin-top: -100px;
    margin-bottom: 20px;
}

#content-page-subject-intro-img {
    align-self: flex-start;
    margin-left: 20px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
    margin-top: 20px;
    width: 150px;
}

#content-page-subject-intro-text {
    margin-bottom: 20px;
    margin-top: 100px;
    color: #E8DFCA;
    width: 70%;
    font-size: 1.4rem;
}






/* LINKS */
#content-page-subject-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4F6F52;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
    position: relative; /* Aggiunto per posizionare l'elemento add-material */
}

#content-page-subject-links-title {
    padding: 20px 40%;
    font-size: 45px;
    font-weight: bolder;
    color: #E8DFCA;
    margin: 20px 20px;
    margin-bottom: 20px;
}

#content-page-subject-links-list {
    margin-left: 20px;
    color: #E8DFCA;
}

#content-page-subject-links-img {
    margin-bottom: 20px;
    margin-top: -350px;
    margin-left: auto; /* Aggiunto per posizionare l'immagine a destra */
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.85);
    width: 200px;
    margin-right: 20px;
}

#content-page-subject-links-img-battery {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto; /* Aggiunto per posizionare la batteria a destra */
    width: 200px;
    margin-right: -15px;
    rotate: -90deg;
    transform: scale(9);
}



/* IMMAGINI STATO */
#images-status {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 30px;
}



/* Stili per il checkbox */
input[type="checkbox"] {
    -webkit-appearance: none; /* Rimuove lo stile predefinito */
    -moz-appearance: none;
    appearance: none;
    width: 20px; /* Imposta la larghezza */
    height: 20px; /* Imposta l'altezza */
    border: 2px solid black; /* Imposta il bordo nero */
    border-radius: 50%; /* Rende il checkbox tondo */
    outline: none; /* Rimuove l'outline */
    cursor: pointer; /* Cambia il cursore al passaggio */
    margin-left: auto; /* Sposta il checkbox tutto a destra */
    margin-right: 20px; /* Margine a destra di 20px */
  }
  
  /* Stili per il checkbox quando è selezionato */
  input[type="checkbox"]:checked {
    background-color: #4f6f52; /* Colore di sfondo verde */
  }
  
  /* Stili per il segno di spunta */
  input[type="checkbox"]:checked::after {
    content: ""; /* Contenuto vuoto */
    display: block;
    width: 10px; /* Larghezza */
    height: 20px; /* Altezza */
    border: solid #E8DFCA; /* Imposta il colore del segno di spunta */
    border-width: 0 3px 3px 0; /* Dimensioni e direzione della spunta */
    transform: rotate(45deg); /* Ruota la spunta di 45 gradi */
    position: relative; /* Posiziona relativamente */
    left: 4px; /* Sposta la spunta a destra */
    top: -10px; /* Sposta la spunta verso l'alto */
  }
  



/* ANIMAZIONI */
/* Animazione di ingresso dall'alto per l'introduzione */
@keyframes ingressoDaSopra {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Applicazione dell'animazione all'introduzione */
#content-page-subject-intro {
    animation: ingressoDaSopra 0.7s ease-out forwards;
}

/* Animazione di ingresso dal basso per l'altro elemento */
@keyframes ingressoDalBasso {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Applicazione dell'animazione all'altro elemento */
#content-page-subject-links {
    animation: ingressoDalBasso 0.7s ease-out forwards;
}
